@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all" />
    <script type="text/javascript" src="~/Scripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-func.js"></script>
    <link rel="stylesheet" href="~/content/ie6.css" type="text/css" media="all" />
    <!--<link rel="stylesheet" href="~/content/style.css" type="text/css" media="all" /-->
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <title>News</title>
</head>
<body>
    <div>
        Hello World
    </div>
</body>
</html>
